<div>
  <p class="">
    dashboard works!
    dashboard works!
    dashboard works!
    dashboard works!
    dashboard works!
    dashboard works!
    dashboard works!
    dashboard works!
    dashboard works!
    dashboard works!
    dashboard works!
    dashboard works!
    dashboard works!
    dashboard works!
    dashboard works!
  </p>
</div>
