/* You can add global styles to this file, and also import other style files */
body{
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/assets/background/pictureSea.jpeg");
}

@media (max-device-width : 768px) {
  .appRoot{
    width: 100%;
  }

  .principalContent{
    padding-top: 0%;
  }
  .indexFont{
    display: none;
  }
}

@media (min-device-width : 768px) {
  .appRoot{
    width: 90%;
    margin:0 auto;
  }

  .principalContent{
    padding-top: 10%;
  }
}

