<!--The content below is only a placeholder and can be replaced.-->
<div class="row">

  <div class="col-xs-1 col-sm-1 col-md-1 linkBoard">
      <div routerLink="Dashboard" class="navButton btn btn-secondary">
        <img class="" alt="Dashboard" src="\assets\icon\054-computer.png" >
        <p class="">Dashboard</p>
      </div>
      <div routerLink="Source" class="navButton btn btn-secondary">
        <img class="" alt="Money" src="\assets\icon\062-dollar.png" >
        <p class="">Ballance</p>
      </div>
      <div routerLink="Settings" class="navButton btn btn-secondary">
        <img class="" alt="Money" src="\assets\icon\001-settings.png" >
        <p class="">Settings</p>
      </div>
  </div>

  <div class="col-xs-11 col-sm-11 col-md-11 subComponent show-grid">
    <div class="row">

      <h1 class="col-xs-12 col-sm-12 col-md-12">
        Welcome to {{ title }}!
      </h1>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 row">
        <div class="appComponent col-xs-12 col-sm-12 col-md-12">
          <app-dashboard class="col-xs-6 col-sm-6 col-md-3"></app-dashboard>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 row">
        <div class="appComponent col-xs-12 col-sm-12 col-md-12">
          <app-solde class="col-xs-6 col-sm-6 col-md-3"></app-solde>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 row">
        <div class="appComponent col-xs-12 col-sm-12 col-md-12">
          <app-dashboard class="col-xs-6 col-sm-6 col-md-3"></app-dashboard>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 row">
        <div class="appComponent col-xs-12 col-sm-12 col-md-12">
          <app-dashboard class="col-xs-6 col-sm-6 col-md-3"></app-dashboard>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 row">
        <div class="appComponent col-xs-12 col-sm-12 col-md-12">
          <app-dashboard class="col-xs-6 col-sm-6 col-md-3"></app-dashboard>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 row">
        <div class="appComponent col-xs-12 col-sm-12 col-md-12">
          <app-dashboard class="col-xs-6 col-sm-6 col-md-3"></app-dashboard>
        </div>
      </div>



    </div>
  </div>

</div>
<router-outlet></router-outlet>
