.linkBoard{
  border-top-left-radius: 5px;
  background: linear-gradient(to top left, #04475a , darkslateblue);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 100%;
}

.subComponent{
  border-top-right-radius: 5px;
  background-color: #f0f0f0;
  padding-bottom: 100%;
}

.subComponent>*{
  height: max-content;
}

.subComponent>div>div{
  height: fit-content;
  margin-bottom: 2.25%;
  margin-left: 0.5%;
  border-radius: 1px;
}

.appComponent{
  height: fit-content;
  background-color: #f1f1f1;
  box-shadow: 2px 1px 1px #b3a7a7;
}

.appComponent:hover{
  background-color: #efefef;
}

.navButton{
  border-radius: 0px;
  background-color: transparent;
  color: #0091FF;
  border: 0px;
}

.navButton:hover{
  background-color: #c5f2f7;
  color: #0091FF;
}

img{
  width: 100%;
}

h1{
  text-align: center;
}

p {
  font-size: 1vw;
  text-align: center;
}
